Pat S. Sabpisal <pat@uniduck.co> <ssabpisa@me.com>
Alex Layton <alex@layton.in> <awlayton@purdue.edu>
Joseph Watkins <watkin10@purdue.edu> <napkinsterror@gmail.com>
Joseph Watkins <watkin10@purdue.edu> <watkin10@chives.ecn.purdue.edu>
Aneesh Samudrala <asamudra@purdue.edu> <aneesh_samudrala@yahoo.com>
Joseph Chiu <chiu12@purdue.edu> DMA-013 <apple@cary-f-116.resnet.purdue.edu>
Joseph Chiu <chiu12@purdue.edu> DMA-013 <apple@pal-nat184-220-205.itap.purdue.edu>
Joseph Chiu <chiu12@purdue.edu> DMA-013 <apple@pal-nat184-220-208.itap.purdue.edu>
